* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel_img {
  height: 80%;
}

.me-auto {
  display: flex;
  justify-content: space-evenly;
}

.text {
  color: red;
}
.otm {
  margin: 1em;
}

.container {
  width: 100%;
  text-align: center;
}

.signIn {
  margin: 16em;
}

.loginBtn {
  margin: 1em;
  width: 30%;
}
